.cards{
    display: grid;
    grid-template-columns: repeat(6 , 165px);
    grid-gap: 30px;
    margin-top: 70px;
}
.cards > img{
    width: 165px;
    height: 277px;
}
@media screen and (max-width: 400px){
    .cards{
        overflow: scroll;
    }
    .cards > img{
        width: 155px;
        height: 260px;
    }
}